RewriteEngine On
RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^home$ index.php [QSA,L,NC]
RewriteRule ^buscar$ buscar.php [QSA,L,NC]
RewriteRule ^afiliado$ afiliado.php [QSA,L,NC]
RewriteRule ^busca-de-servicos$ busca-de-servicos.php [QSA,L,NC]
RewriteRule ^busca-de-especialidades-medicas$ busca-de-especialidades-medicas.php [QSA,L,NC]
RewriteRule ^cadastro-afiliado$ cadastro-afiliado.php [QSA,L,NC]
RewriteRule ^credenciamento$ credenciamento.php [QSA,L,NC]
RewriteRule ^quero-ser-um-parceiro$ quero-ser-um-parceiro.php [QSA,L,NC]
RewriteRule ^busca-servicos-rede-centrocard$ busca-servicos-rede-centrocard.php [QSA,L,NC]
RewriteRule ^busca-medica-rede-centrocard$ busca-medica-rede-centrocard.php [QSA,L,NC]
RewriteRule ^beneficio\/([0-9A-z_-]+)$ beneficio.php?slug=$1 [QSA,L,NC]
RewriteRule ^plano\/([0-9A-z_-]+)$ plano.php?slug=$1 [QSA,L,NC]