/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/
.services #services-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}
.services #services-flters li {
  box-shadow: 1px 2px 5px #afafaf;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  background-color:white;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.services #services-flters li:hover,
.services #services-flters li.filter-active {
  color: white;
  background-color: #31578e;
}
.services #services-flters li:last-child {
  margin-right: 0;
}
.services .services-item {
  margin-bottom: 30px;
}
.services .services-item .services-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}
.services .services-item .services-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #222222;
}
.services .services-item .services-info p {
  color: #555555;
  font-size: 14px;
  margin-bottom: 0;
}
.services .services-item .services-info .preview-link,
.services .services-item .services-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #3c3c3c;
}
.services .services-item .services-info .preview-link:hover,
.services .services-item .services-info .details-link:hover {
  color: #106eea;
}
.services .services-item .services-info .details-link {
  right: 10px;
}
.services .services-item .services-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}
.services .services-item .services-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.services .services-item .services-links a:hover {
  color: #6ba7f5;
}
.services .services-item:hover .services-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# services Details
--------------------------------------------------------------*/
.services-details {
  padding-top: 40px;
}
.services-details .services-details-slider img {
  width: 100%;
}
.services-details .services-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.services-details .services-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #106eea;
}
.services-details .services-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #106eea;
}
.services-details .services-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
}
.services-details .services-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.services-details .services-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.services-details .services-info ul li + li {
  margin-top: 10px;
}
.services-details .services-description {
  padding-top: 30px;
}
.services-details .services-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.services-details .services-description p {
  padding: 0;
}

.services-item .card-body p {
  line-height: 0.5;
}


.services-item .card-text {
  font-size:18px;
}
.btn-primary-card {
  background-color: #31578e;
  color: white;
}

.btn-primary-title {
  background-color: #31578e;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding:10px 0px 10px 0px;
  text-transform: uppercase;
}

.modal-backdrop {
  z-index: -1!important;
  background-color:white;
}